<ul class='steps'>
    <li class='active'>
        1.Cart
        <span>Overview of your cart</span>
    </li>
    <li>
        2.Shipping method
        <span>Please select a shipping method</span>
    </li>
    <li>
        3.Payment method
        <span>Please select a payment method</span>
    </li>
    <li>
        4.Confirmation
        <span>Confirm your order</span>
    </li>
    <li>
        5.Success
        <span>Your order has been sent</span>
    </li>
</ul>

<div>
    @Html.Sitecore().Placeholder("content")
</div>