<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <initialize>
        <processor type="Heidelpay.Connect.Pipelines.Initialize.RegisterCustomRoutes, Heidelpay.Connect" />
      </initialize>
      <commerce.carts.addPaymentInfo>
        <processor type="Heidelpay.Connect.Pipelines.AddPaymentInfoToCart.AddHeidelpayPaymentInfoToCart, Heidelpay.Connect" patch:before="*[@type='Sitecore.Commerce.Engine.Connect.Pipelines.Carts.AddPaymentInfoToCart, Sitecore.Commerce.Engine.Connect']"/>
      </commerce.carts.addPaymentInfo>
      <translate.orderToEntity>
        <processor type="Heidelpay.Connect.Pipelines.TranslateOrderToEntity.TranslateHeidelpayPayment, Heidelpay.Connect" patch:after="*[@type='Sitecore.Commerce.Engine.Connect.Pipelines.Orders.TranslateOrderToEntity, Sitecore.Commerce.Engine.Connect']"/>
      </translate.orderToEntity>
      <translate.cartToEntity>
        <processor type="Heidelpay.Connect.Pipelines.TranslateCartToEntity.TranslateHeidelpayPayment, Heidelpay.Connect" patch:after="*[@type='Sitecore.Commerce.Engine.Connect.Pipelines.Carts.TranslateCartToEntity, Sitecore.Commerce.Engine.Connect']"/>
      </translate.cartToEntity>
      <heidelpay.requestPayment>
        <processor type="Heidelpay.Connect.Pipelines.RequestPayment.RequestPayment, Heidelpay.Connect" />
      </heidelpay.requestPayment>
      <heidelpay.handleResponse>
        <processor type="Heidelpay.Connect.Pipelines.HandleResponse.HandleResponse, Heidelpay.Connect" />
      </heidelpay.handleResponse>
    </pipelines>
  </sitecore>
</configuration>
