<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!-- 
    Sitecore connection strings.
    All database connections for Sitecore are configured here.
  -->
  <add name="core" connectionString="Data Source=mssql;Initial Catalog=Sitecore_Core;User ID=sa;Password=my_Sup3rSecret!!" />
  <add name="master" connectionString="Data Source=mssql;Initial Catalog=Sitecore_Master;User ID=sa;Password=my_Sup3rSecret!!" />
  <add name="web" connectionString="Data Source=mssql;Initial Catalog=Sitecore_Web;User ID=sa;Password=my_Sup3rSecret!!" />
  <add name="sessions" connectionString="user id=sa;password=my_Sup3rSecret!!;data source=mssql;database=Sitecore_Sitecore.Sessions" />
  <add name="exm.master" connectionString="Data Source=mssql;Initial Catalog=Sitecore_EXM.Master;User ID=sa;Password=my_Sup3rSecret!!" />
  <add name="reporting" connectionString="Data Source=mssql;Initial Catalog=Sitecore_Reporting;User ID=sa;Password=my_Sup3rSecret!!" />
  <add name="xdb.processing.tasks" connectionString="Data Source=mssql;Initial Catalog=Sitecore_Processing.Tasks;User ID=sa;Password=my_Sup3rSecret!!" />
  <add name="experienceforms" connectionString="Data Source=mssql;Initial Catalog=Sitecore_ExperienceForms;User ID=sa;Password=my_Sup3rSecret!!" />
  <add name="messaging" connectionString="Data Source=mssql;Initial Catalog=Sitecore_Messaging;User ID=sa;Password=my_Sup3rSecret!!" />
  <add name="xdb.processing.pools" connectionString="Data Source=mssql;Initial Catalog=Sitecore_Processing.Pools;User ID=sa;Password=my_Sup3rSecret!!" />
  <add name="xdb.referencedata" connectionString="Data Source=mssql;Initial Catalog=Sitecore_ReferenceData;User ID=sa;Password=my_Sup3rSecret!!" />
  <add name="xdb.marketingautomation" connectionString="Data Source=mssql;Initial Catalog=Sitecore_MarketingAutomation;User ID=sa;Password=my_Sup3rSecret!!" />
  <add name="xconnect.collection" connectionString="https://xconnect" />
  <add name="xconnect.collection.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=9CC4483261B92D7C5B32239115283933FC5014C4" />
  <add name="xdb.marketingautomation.operations.client" connectionString="https://xconnect" />
  <add name="xdb.marketingautomation.operations.client.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=9CC4483261B92D7C5B32239115283933FC5014C4" />
  <add name="xdb.marketingautomation.reporting.client" connectionString="https://xconnect" />
  <add name="xdb.marketingautomation.reporting.client.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=9CC4483261B92D7C5B32239115283933FC5014C4" />
  <add name="xdb.referencedata.client" connectionString="https://xconnect" />
  <add name="xdb.referencedata.client.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=9CC4483261B92D7C5B32239115283933FC5014C4" />
  <add name="solr.search" connectionString="http://solr:8983/solr" />
  <add name="PackageManagementServiceUrl" connectionString="https://updatecenter.cloud.sitecore.net/" />
  <add name="EXM.CryptographicKey" connectionString="0x0000000000000000000000000000000000000000000000000000000000000000" />
  <add name="EXM.AuthenticationKey" connectionString="0x0000000000000000000000000000000000000000000000000000000000000000" />
</connectionStrings>